<div style="text-align: center;">
    <f:if condition="{song.status} == 0">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations!</strong> Your track has been successfully submitted and is under review.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </f:if>
    <f:if condition="{song.status} == 4">
        <div class="alert alert-danger" role="alert">
            <strong>Ooops!</strong> Your track has not been approved by our experts. If this is not correct, please contact our experts. Your track will be deleted automatically in 24 hours. You can submit it again.
        </div>
    </f:if>
</div>
<div style="text-align: center;"><h1>Progress</h1></div>

<f:if condition="{song.status} == 0">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 22%">22%</div>
    </div>
</f:if>

<f:if condition="{song.status} == 1">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 44%">44%</div>
    </div>
</f:if>

<f:if condition="{song.status} == 2">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 66%">66%</div>
    </div>
</f:if>

<f:if condition="{song.status} == 3">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
    </div>
</f:if>

<f:if condition="{song.status} == 4">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
    </div>
</f:if>

<div class="container">
    <div class="row">
        <div class="col">
            <div style="text-align: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                </svg>
                Track Submitted
            </div>
        </div>
        <div class="col">
            <div style="text-align: center;">
                <f:if condition="{song.status} == 4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                    </svg>
                </f:if>
                <f:if condition="{song.status} == 0">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </f:if>
                <f:if condition="{song.status} == 1 || {song.status} == 2 || {song.status} == 3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                </f:if>
                Approved by us
            </div>
        </div>
        <div class="col">
            <div style="text-align: center;">
                <f:if condition="{song.status} == 4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                    </svg>
                </f:if>
                <f:if condition="{song.status} == 1 || {song.status} == 0">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </f:if>
                <f:if condition="{song.status} == 2 || {song.status} == 3 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                </f:if>
                Accepted By Streaming Services
            </div>
        </div>
        <div class="col">
            <div style="text-align: center;">
                <f:if condition="{song.status} == 4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                    </svg>
                </f:if>
                <f:if condition="{song.status} <= 2">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </f:if>
                <f:if condition="{song.status} == 3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                </f:if>
                Released
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <f:image class="card-img-top" image="{song.song_cover}" height="250"/>
                <div class="card-body">
                    <h5 class="card-title">{song.song_name}</h5>
                    <f:if condition="{song.feature}">
                        <f:then>
                            <p class="card-text">{userData.artist_name}, {song.feature}, Extone-Records</p>
                        </f:then>
                        <f:else>
                            <p class="card-text">{userData.artist_name}, Extone-Records</p>
                        </f:else>
                    </f:if>
                    <p><f:format.date format="d.m.Y">{song.crdate}</f:format.date></p>
                    <audio controls>
                        <source src="/fileadmin{song.song_file.identifier}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p>Once your track has been reviewed and accepted, it will be immediately made available on the music streaming services.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="text-align: center;">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="far fa-trash-alt"></i> Delete Track
                </button>
                <f:link.action
                        class="btn btn-success"
                        pageUid="16"
                        controller="SubmittedSongs"
                        arguments="{uid: '{song.uid}', approved: 1}"
                        action="edit">
                    Approve Track
                </f:link.action>
                <f:link.action
                        class="btn btn-warning"
                        pageUid="16"
                        controller="SubmittedSongs"
                        arguments="{uid: '{song.uid}', approved: 4}"
                        action="edit">
                    Reject
                </f:link.action>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Track</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your track?
                Please note that you cannot get your credits back.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <f:link.action
                        class="btn btn-danger"
                        pageUid="5"
                        controller="ListSong"
                        arguments="{uid: '{song.uid}', deleted: 1}"
                        action="show">
                    Delete
                </f:link.action>
            </div>
        </div>
    </div>
</div>

<div style="text-align: right;">
    <f:link.page pageUid="5" class="btn btn-danger"><i class="fas fa-long-arrow-alt-left"></i> back</f:link.page>
</div>
