<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<body>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Date Created</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <f:for each="{songs}" as="song">
                    <tr>
                        <td><a>{song.song_name}</a></td>
                        <td><a><f:link.external uri="{song.song_url}" additionalAttributes="{target: '_blank'}">{song.song_url}</f:link.external></a></td>
                        <td><f:format.date format="d.m.Y">{song.crdate}</f:format.date></td>
                        <f:if condition="{song.status} == 0" >
                            <td><span class="status text-warning">&bull;</span> will be reviewed...</td>
                            <td>
                            </td>
                        </f:if>
                        <f:if condition="{song.status} == 1" >
                            <td><span class="status text-success">&bull;</span> Accepted</td>
                            <td></td>
                        </f:if>
                        <f:if condition="{song.status} == 2" >
                            <td><span class="status text-danger">&bull;</span> Rejected</td>
                            <td></td>
                        </f:if>
                        <td><a>
                            <f:link.action
                                    class="btn btn-success"
                                    pageUid="16"
                                    controller="SubmittedSongs"
                                    arguments="{uid: '{song.uid}'}"
                                    action="edit">
                                Edit
                            </f:link.action>

                        </a></td>

                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
