<f:debug>{_all}</f:debug>
<f:if condition="{confirm}">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>You have successfully confirmed your account. </p>
        <hr>
        <p class="mb-0">To log in, please click here!</p>
        <f:link.page pageUid="1" class="btn btn-primary btn-round">Login Now!</f:link.page>
    </div>
</f:if>
<f:if condition="!{confirm}">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Ooops!</h4>
        <p>It looks like your link has unfortunately already expired or you have already registered.</p>
        <hr>
        <p class="mb-0">To register again, please click here:</p>
        <f:link.page pageUid="17" class="btn btn-primary btn-round">Register</f:link.page>
    </div>
</f:if>