<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<body>

<f:if condition="{verified}">

    <div style="text-align: right;">
        <f:link.page pageUid="12" class="btn btn-primary"><span><i class="fas fa-music"></i> Submit new Song</span></f:link.page>
        <div class="d-inline p-2 bg-primary text-white">Credits: <span class="badge bg-dark"><f:for each="{credits}" as="credit">{credit.credits}</f:for></span></div>
    </div>

    <div class="container">
        <div class="row">
            <f:if condition="{songs}">
                <f:then>
                    <f:for each="{songs}" as="song">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <f:image class="card-img-top" image="{song.song_cover}" height="250"/>
                                <f:link.page pageUid="15" class="btn btn-success" additionalParams="{uid: '{song.uid}'}"><i class="far fa-edit"></i> Edit</f:link.page>
                                <div class="card-body">
                                    <h5 class="card-title">{song.song_name}</h5>
                                    <f:if condition="{song.feature}">
                                        <f:then>
                                            <p class="card-text">{userData.artist_name}, {song.feature}, Extone-Records</p>
                                        </f:then>
                                        <f:else>
                                            <p class="card-text">{userData.artist_name}, Extone-Records</p>
                                        </f:else>
                                    </f:if>
                                    <p><f:format.date format="d.m.Y">{song.crdate}</f:format.date></p>
                                    <f:if condition="{song.status} == 0">
                                        <a class="list-group-item list-group-item-action list-group-item-warning">
                                            Under Review
                                            <div class="spinner-border spinner-border-sm" role="status">
                                                <span class="sr-only">Under Review...</span>
                                            </div>
                                        </a>
                                    </f:if>
                                    <f:if condition="{song.status} == 1">
                                        <a class="list-group-item list-group-item-action list-group-item-success">
                                            Accepted <i class="fas fa-check"></i>
                                        </a>
                                    </f:if>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </f:then>
                <f:else>
                    <h1>You haven't submitted a track yet!</h1>
                </f:else>
            </f:if>
        </div>
    </div>
</f:if>

<f:if condition="!{verified}">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Please verify your account!</h4>
        <p>You cannot submit tracks yet because your account has not been verified. To upload tracks, please click here: </p>
        <hr>
        <f:link.page pageUid="23" class="btn btn-success">Verify Account</f:link.page>
    </div>
</f:if>

</body>
</html>
