<div class="alert alert-success" role="alert">
    Congratulations! You have successfully completed your contract and verified your account. We wish you good luck!
</div>
<f:link.page pageUid="3" class="btn btn-warning">Back To Dashboard</f:link.page>
<f:link.page pageUid="3" class="btn btn-success">Download Contract</f:link.page>