<h1>Extone-Records - Artist Contract</h1>

<h3>The following contract is concluded with {artist.name}.</h3>

<hr>
<p>Full Name: {artist.name}</p>
<p>Artist Name: {artist.artist_name}</p>
<p>Address: {artist.address}, {artist.zip} {artist.city}</p>
<h3>§1 Publish Tracks</h3>
<p>1. {artist.name} has the possibility to release up to 3 tracks per month for free with his free account.</p>
<p>2. To be able to release more tracks, {artist.name} has the possibility to buy credits to use them or to order a plan of {artist.name} choice.</p>
<p>3. If {artist.name} track is approved by us, it will be published on various music streaming services in {artist.name} & Extone-Records name.</p>
<p>4. By publishing a track through PLAY Powered by Extone-Records, {artist.name} assigns all rights of the track to us.</p>
<p>5. If a track is rejected, the credits will not be refunded.</p>

<h3>§2 Publish Tracks</h3>

<f:form action="complete">
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <f:form.checkbox class="custom-control-input" id="customCheck2" name="privacyPolicy" value="someValue" additionalAttributes="{required: 'required'}"/>
                <label class="custom-control-label" for="customCheck2">I have read and agree to the contract.</label>
            </div>
            <f:form.submit  class="btn btn-primary px-4" name="submit" value="finish"><button target="_blank">Next: Contract</button></f:form.submit>
        </div>
    </div>
</div>
</f:form>