<f:if condition="{verified} == 1">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Your account has already been verified</p>
    </div>
</f:if>
<f:if condition="{verified} == 0">

    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Verify Profile</h4>
            <p class="card-category">Please Check your Account Data</p>
        </div>
        <div class="card-body">
            <f:form enctype="multipart/form-data" action="create">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="bmd-label-floating">Full Name</label>
                            <f:form.textfield property="fullName" class="form-control" value="{userData.name}" name="fname" required="required" />
                            <f:form.upload name="file" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <f:form.textfield property="email" class="form-control" value="{userData.email}" name="mail" required="required" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Mobilephone</label>
                            <f:form.textfield property="phone" class="form-control" value="{userData.mobilephone}" name="phone" required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Street</label>
                            <f:form.textfield property="street" class="form-control" value="{userData.address}" name="street" required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Zip</label>
                            <f:form.textfield property="zip" class="form-control" value="{userData.zip}" name="zip" required="required" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">City</label>
                            <f:form.textfield property="city" class="form-control" value="{userData.city}" name="city" required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <f:form.checkbox class="custom-control-input" id="customCheck1" name="correctData" value="someValue" additionalAttributes="{required: 'required'}"/>
                                <label class="custom-control-label" for="customCheck1">I confirm that the data I have entered is correct and I am aware of the consequences of providing incorrect information.</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <f:form.checkbox class="custom-control-input" id="customCheck2" name="privacyPolicy" value="someValue" additionalAttributes="{required: 'required'}"/>
                                <label class="custom-control-label" for="customCheck2">I have read and accept the terms and conditions and the privacy policy.</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating">Verify Code:</label>
                    <f:form.textfield id="exampleInputEmail1" type="number" class="form-control" name="code" additionalAttributes="{required: required, maxlength: '5'}"/>
                    <small id="emailHelp" class="form-text text-muted">Please check your mailbox. (Also the spam folder)</small>
                </div>
                <f:form.submit  class="btn btn-primary px-4" name="submit" value="Next: Contract"><button target="_blank">Next: Contract</button></f:form.submit>
                <div class="clearfix"></div>
            </f:form>
        </div>
    </div>
</f:if>