<f:form action="create" name="editProfile" object="{editProfile}" >
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Full Name</label>
                                        <f:form.textfield property="fullName" class="form-control" value="{fe_user_name}" name="fname" required="required" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email</label>
                                        <f:form.textfield property="email" class="form-control" value="{fe_user_mail}" name="mail" required="required" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Mobilephone</label>
                                        <f:form.textfield property="phone" class="form-control" value="{fe_user_phone}" name="phone" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Street</label>
                                        <f:form.textfield property="street" class="form-control" value="{fe_user_street}" name="street" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Zip</label>
                                        <f:form.textfield property="zip" class="form-control" value="{fe_user_zip}" name="zip" required="required" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">City</label>
                                        <f:form.textfield property="city" class="form-control" value="{fe_user_city}" name="city" required="required" />
                                    </div>
                                </div>
                            </div>
                            <f:form.submit  class="btn btn-primary px-4" name="submit" value="Save Changes"><button>Save Changes</button></f:form.submit>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</f:form>