<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{safed}">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Changes Saved!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</f:if>
<div class="container">
    <div class="row">
        <div class="col">

            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <img class="avatar" src="/fileadmin/fallback.jpg" alt="Profile Picture">
                        <h5 class="title">{userData.artist_name}</h5>
                        <p class="description">
                            {userData.email}
                        </p>
                    </div>
                    </p>
                    <div class="card-description">
                        <div style="text-align: center;">
                            <f:if condition="{userData.verified} == 0" >
                                <div style="text-align: center;">
                                    <span class="badge badge-danger">not verified</span>
                                    <p><f:link.page pageUid="23" class="btn btn-success">Verify Account</f:link.page></p>
                                </div>
                            </f:if>
                            <f:if condition="{userData.verified} == 1" >
                                <div style="text-align: center;">
                                    <span class="badge badge-success"> <i class="fas fa-check"></i> verified</span>
                                </div>
                            </f:if>
                            <p>
                            </p>
                            <f:link.page pageUid="14" class="btn btn-primary btn-round"><i class="far fa-edit"></i> Edit</f:link.page>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                            <i class="fab fa-facebook"></i>
                        </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                            <i class="fab fa-google-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"><i class="fas fa-music"></i> Submitted Songs</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <f:for each="{songs}" as="song">
                                <tr>
                                    <td><a>{song.song_name}</a></td>
                                    <f:if condition="{song.status} == 0" >
                                        <td><span class="status text-warning">&bull;</span> will be reviewed...</td>
                                    </f:if>
                                    <f:if condition="{song.status} == 1" >
                                        <td><span class="status text-success">&bull;</span> Accepted</td>
                                    </f:if>
                                    <f:if condition="{song.status} == 2" >
                                        <td><span class="status text-danger">&bull;</span> Rejected</td>
                                    </f:if>
                                </tr>
                            </f:for>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="fas fa-coins"></i>
                    </div>
                    <h3 class="card-title">Coins: {userData.credits}</h3>
                </div>
            </div>
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="fas fa-money-bill-wave-alt"></i>
                    </div>
                    <h3 class="card-title">Earned: 0€</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

