<f:form action="confirmed" name="register" object="{confirmed}" >
    <div class="form-group">
        <label for="exampleInputEmail1">Verification Code:</label>
        <f:form.textfield id="exampleInputEmail1" type="number" class="form-control" name="code" additionalAttributes="{required: required, maxlength: '5'}"/>
        <small id="emailHelp" class="form-text text-muted">Please check your mailbox. (Also the spam folder)</small>
        <f:form.textfield name="mail" value="{mail}" additionalAttributes="{hidden: hidden}"/>
    </div>
    <button type="submit" class="btn btn-primary">Activate</button>
</f:form>
