<style>
    @media (min-width: 1200px) {
        html, body {
            width: 100%;
            height: 100%;
        }

        body {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 5s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }
</style>

<f:if condition="{success} == true">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>You have successfully registered with PLAY.</p>
        <p>Login now and don't forget to activate your account!</p>
        <hr>
        <f:link.page pageUid="1" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login now!</f:link.page>
    </div>
</f:if>
<f:form action="create" name="register" object="{register}" >
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <section class="vh-100" >
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-12 col-lg-12 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form>
                                    <div style="text-align: center;">
                                        <h3><a><i class="fas fa-play" style="color: purple"></i> PLAY</a></h3>
                                        <h4>Powered by Extone-Records</h4>
                                    </div>
                                    <hr style="color: white">
                                    <div style="text-align: center;">
                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                                    </div>

                                    <f:if condition="{messageKey} == error">
                                        <div class="alert alert-danger" role="alert">
                                            Ooops! Your mail address or password is not correct. Please try again!
                                        </div>
                                    </f:if>

                                    <div class="form-group">
                                        <label class="bmd-label-floating">Full Name</label>
                                        <f:form.textfield placeholder="e.g. Bob Doe" property="fullName" class="form-control" name="fname" required="required" />
                                    </div>

                                    <div class="form-group">
                                        <label class="bmd-label-floating">Artist Name</label>
                                        <f:form.textfield placeholder="e.g. Snoop Lion" property="artistName" class="form-control" name="artistName" required="required" />
                                    </div>

                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email</label>
                                        <f:form.textfield type="email" placeholder="e.g. bob.doe@outlook.com" property="email" class="form-control" name="mail" required="required" />
                                    </div>

                                    <div class="form-group">
                                        <label class="bmd-label-floating">Password (min. 8 characters)</label>
                                        <f:form.password property="password" class="form-control" name="password" additionalAttributes="{required: required, minlength: '8'}"/>
                                    </div>

                                    <div class="form-group">
                                        <label class="bmd-label-floating">Repeat Password</label>
                                        <f:form.password property="passwordRepeat" class="form-control" name="passwordRepeat" additionalAttributes="{required: required, minlength: '8'}"/>
                                    </div>

                                    <p>With the registration you accept our terms and conditions as well as our privacy policy.</p>
                                    <f:form.submit  class="btn btn-primary px-4" name="submit" value="Register"></f:form.submit>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</f:form>