<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1>Free Plan</h1>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <p>Credits: 2 per month</p>
            <p>Contract: Basic</p>
            <p>Music Streaming Platforms: All</p>
            <p>Price: Free</p>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a><f:link.page pageUid="13" class="btn btn-danger"><i class="fas fa-long-arrow-alt-left"></i> Back</f:link.page></a>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <f:form action="create" name="changePlan" object="{freePlan}">
                <f:form.submit class="btn btn-success" value="Change Plan">Change Plan</f:form.submit>
                <div class="invisible">
                    <f:form.textfield property="plan" id="exampleInputEmail1" value="free" name="fname"/>
                </div>
            </f:form>
        </div>
    </div>
</div>