<div class="container mb-5 mt-5">
    <a style="color: white" >1 credit = 1 track</a>
    <div class="pricing card-deck flex-column flex-md-row mb-3">
        <div class="card card-pricing text-center px-3 mb-4"> <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Free</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h3>0€</h3><h5>per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li><i class="fas fa-check"></i> 2 Coins Per Month</li>
                    <li><i class="fas fa-check"></i> Basic Contract</li>
                    <li><i class="fas fa-check"></i> Spotify, Deezer, Apple Music & More</li>
                    <li><i class="fas fa-times"></i> <del>Free Artist Website</del></li>
                    <li><i class="fas fa-times"></i> <del>Social Media Marketing</del></li>
                    <li><i class="fas fa-times"></i> <del>Merch</del></li>
                    <li><i class="fas fa-times"></i> <del>Advertising</del></li>
                    <li><i class="fas fa-times"></i> <del>Account Statistic</del></li>
                </ul>
                <f:form action="free" name="free" object="{freePlan}">
                    <f:if condition="{userData.plan} == 'free'">
                        <f:then>
                            <button type="button" class="btn btn-outline-secondary mb-3 hvr" disabled>Current</button>
                        </f:then>
                        <f:else>
                            <f:form.submit class="btn btn-outline-secondary mb-3 hvr" value="Change Plan">Change Plan</f:form.submit>
                        </f:else>
                    </f:if>
                </f:form>
            </div>
        </div>
        <div class="card card-pricing text-center px-3 mb-4"> <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Starter</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h3>4,99€</h3><h5>per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li><i class="fas fa-check"></i> 5 Coins Per Month</li>
                    <li><i class="fas fa-check"></i> Basic Contract</li>
                    <li><i class="fas fa-check"></i> Free Artist Website</li>
                    <li><i class="fas fa-check"></i> Account Statistic</li>
                    <li><i class="fas fa-check"></i> Spotify, Deezer, Apple Music & More</li>
                    <li><i class="fas fa-times"></i> <del>Social Media Marketing</del></li>
                    <li><i class="fas fa-times"></i> <del>Merch</del></li>
                    <li><i class="fas fa-times"></i> <del>Advertising</del></li>
                </ul>
                <f:form action="starter" name="starter" object="{starterPlan}">
                    <f:if condition="{userData.plan} == 'starter'">
                        <f:then>
                            <button type="button" class="btn btn-outline-secondary mb-3 hvr" disabled>Current</button>
                        </f:then>
                        <f:else>
                            <f:form.submit class="btn btn-outline-secondary mb-3 hvr" value="Change Plan">Change Plan</f:form.submit>
                        </f:else>
                    </f:if>
                </f:form>
            </div>
        </div>
        <div class="card card-pricing popular shadow text-center px-3 mb-4"> <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Professional</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h3>9,99€</h3><h5>per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                    <li><i class="fas fa-check"></i> 15 Coins Per Month</li>
                    <li><i class="fas fa-check"></i> Extended Contract</li>
                    <li><i class="fas fa-check"></i> Free Artist Website</li>
                    <li><i class="fas fa-check"></i> Account Statistic</li>
                    <li><i class="fas fa-check"></i> Social Media Marketing</li>
                    <li><i class="fas fa-check"></i> Spotify, Deezer, Apple Music & More</li>
                    <li><i class="fas fa-times"></i> <del>Merch</del></li>
                    <li><i class="fas fa-times"></i> <del>Advertising</del></li>
                </ul>
                <f:form action="professional" name="professional" object="{professionalPlan}">
                    <f:if condition="{userData.plan} == 'professional'">
                        <f:then>
                            <button type="button" class="btn btn-outline-secondary mb-3 hvr" disabled>Current</button>
                        </f:then>
                        <f:else>
                            <f:form.submit class="btn btn-outline-primary" value="Change Plan">Change Plan</f:form.submit>
                        </f:else>
                    </f:if>
                </f:form>
                <a>Recommended</a>
            </div>
        </div>
        <div class="card card-pricing text-center px-3 mb-4"> <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Pro Artist</span>
            <div class="bg-transparent card-header pt-4 border-0">
                <h3>19,99€</h3><h5>per month</h5>
            </div>
            <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">

                    <li><i class="fas fa-check"></i> 50 Coins Per Month</li>
                    <li><i class="fas fa-check"></i> Extended Contract</li>
                    <li><i class="fas fa-check"></i> Free Artist Website</li>
                    <li><i class="fas fa-check"></i> Account Statistic</li>
                    <li><i class="fas fa-check"></i> Social Media Marketing</li>
                    <li><i class="fas fa-check"></i> Merch</li>
                    <li><i class="fas fa-check"></i> Advertising</li>
                    <li><i class="fas fa-check"></i> Spotify, Deezer, Apple Music & More</li>
                </ul>
                <f:form action="proArtist" name="proArtist" object="{proArtistPlan}">
                    <f:if condition="{userData.plan} == 'proArtist'">
                        <f:then>
                            <button type="button" class="btn btn-outline-secondary mb-3 hvr" disabled>Current</button>
                        </f:then>
                        <f:else>
                            <f:form.submit class="btn btn-outline-secondary mb-3 hvr" value="Change Plan">Change Plan</f:form.submit>
                        </f:else>
                    </f:if>
                </f:form>
            </div>
        </div>
    </div>
    <div class="card card-pricing text-center px-3 mb-4"> <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">BUY CREDITS</span>
        <div class="bg-transparent card-header pt-4 border-0">
            <h3>2,99€</h3>
        </div>
        <div class="card-body pt-0">
            <ul class="list-unstyled mb-4">
                <li>2 Credits</li>
            </ul>
            <f:form action="free" name="free" object="{freePlan}">
                <f:if condition="{userData.plan} == 'free'">
                    <f:then>
                        <button type="button" class="btn btn-outline-secondary mb-3 hvr" disabled>Current</button>
                    </f:then>
                    <f:else>
                        <f:form.submit class="btn btn-outline-secondary mb-3 hvr" value="Change Plan">Change Plan</f:form.submit>
                    </f:else>
                </f:if>
            </f:form>
        </div>
    </div>
    <div class="card card-pricing text-center px-3 mb-4"> <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">REMOVE "EXTONE-RECORDS"</span>
        <div class="bg-transparent card-header pt-4 border-0">
            <h3>59,99€</h3><h5>Onetime</h5>
        </div>
        <div class="card-body pt-0">
            <ul class="list-unstyled mb-4">
                <li><i class="fas fa-check"></i> Remove "EXTONE-RECORDS" feature at tracks.</li>
            </ul>
            <f:form action="free" name="free" object="{freePlan}">
                <f:if condition="{userData.plan} == 'free'">
                    <f:then>
                        <button type="button" class="btn btn-outline-secondary mb-3 hvr" disabled>Current</button>
                    </f:then>
                    <f:else>
                        <f:form.submit class="btn btn-outline-secondary mb-3 hvr" value="Change Plan">Change Plan</f:form.submit>
                    </f:else>
                </f:if>
            </f:form>
        </div>
    </div>
</div>