<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Congratulations!</h4>
    <p>You have successfully submitted your song!</p>
    <hr>
    <p class="mb-0">Your song will now be reviewed by our experts. This can take a maximum of 2 business days.
        If your song is accepted, we will upload it to various music streaming services under your name.
        To find out the status of your song, click the button below.</p>
</div>
<a><f:link.page pageUid="3" class="btn btn-danger">Back To Dashboard</f:link.page></a>
<a><f:link.page pageUid="5" class="btn btn-success">Check Status</f:link.page></a>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <f:image class="card-img-top" image="{coverData}" width="300"/>
                <div class="card-body">
                    <h5 class="card-title">{data.title}</h5>
                    <f:if condition="{data.feature}">
                        <f:then>
                            <p class="card-text">{artistName}, {data.feature}, Extone-Records</p>
                        </f:then>
                        <f:else>
                            <p class="card-text">{artistName}, Extone-Records</p>
                        </f:else>
                    </f:if>
                    <hr>
                    <audio controls>
                        <source src="/fileadmin{songData}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
