<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" xmlns:f="http://www.w3.org/1999/html"></script>
<style>
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
    .custom-file-upload2 {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
</style>
<f:if condition="{credits} > 0" >
    <f:form enctype="multipart/form-data" action="create" name="newSong" object="{newSong}" id="regForm">
        <div class="container">
            <div class="main-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <div style="text-align: center;">
                                    <h4 class="card-title">Submit Your Track</h4>
                                    <p class="card-category">Submit Your Track on Spotify, Apple Music & Co.</p>
                                </div>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Artist Name</label>
                                                <p>{userData.artist_name}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Label</label>
                                                <p>Extone-Records</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Title*</label>
                                                <f:form.textfield placeholder="Your Track Title" class="form-control" name="title" required="required" />
                                            </div>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Feature (Optional)</label>
                                            <f:form.textfield placeholder="Snoop Dog, Kanye West" class="form-control" name="feature" />
                                        </div>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <P>Track*</P>
                                                <label for="file-upload" class="custom-file-upload">
                                                    <i class="fas fa-upload"></i> Upload Track (.wav)
                                                </label>
                                                <f:form.upload id="file-upload" name="song" style="display:none;" additionalAttributes="{required: required, accept: '.wav, .mp3'}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <P>Cover*</P>
                                                <label for="file-upload2" class="custom-file-upload2">
                                                    <i class="fas fa-upload"></i> Cover (.jpg/.png)
                                                </label>
                                                <f:form.upload id="file-upload2" name="cover" style="display:none;" additionalAttributes="{required: required, accept: 'image/*'}"/>
                                            </div>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Language* (If your language is not listed, please select English)</label>
                                            <f:form.select class="form-select" name="language" options="{empty: '', german: 'German', english: 'English', spanish: 'Spanish'}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Genre*</label>
                                            <f:form.select class="form-select" name="genre" options="{empty: '', rap: 'Rap', hiphop: 'HipHop', dance: 'Dance', other: 'Other'}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <f:form.checkbox class="custom-control-input" id="customCheck2" name="privacyPolicy" value="someValue" additionalAttributes="{required: required}"/>
                                                <label class="custom-control-label" for="customCheck2">I have read and accept the terms and conditions and the privacy policy.</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <f:form.checkbox class="custom-control-input" id="explicitCheck" name="explicit" value="someValue"/>
                                                <label class="custom-control-label" for="explicitCheck">Explicit Version</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <f:form.checkbox class="custom-control-input" id="contractCheck" name="explicit" value="someValue" additionalAttributes="{required: required}"/>
                                                <label class="custom-control-label" for="contractCheck">I have read and accept my contract.</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <hr>
                                    <div style="text-align: right;">
                                        <f:form.submit  class="btn btn-primary px-4" name="submit" value="Submit Song"></f:form.submit>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:form>
</f:if>

<f:if condition="{credits} == 0">
    <div class="alert alert-danger" role="alert">
        Unfortunately you don't have enough credits to submit a song
    </div>
    <a><f:link.page pageUid="13" class="btn btn-success">Buy Credits</f:link.page></a>
    <a><f:link.page pageUid="5" class="btn btn-secondary">Go Back</f:link.page></a>
</f:if>

<script>
    $('#file-upload').change(function() {
        var i = $(this).prev('label').clone();
        var file = $('#file-upload')[0].files[0].name;
        $(this).prev('label').text(file);
    });
    $('#file-upload2').change(function() {
        var i = $(this).prev('label').clone();
        var file = $('#file-upload2')[0].files[0].name;
        $(this).prev('label').text(file);
    });
</script>