<f:if condition="{messageAdmin}" >
    <div class="container-fluid">
        <div class="card">
            <div style="text-align: left;">
                <div class="card-header">
                    <i class="fas fa-check-circle" style="color:white"></i> Extone-Records - Last Message
                </div>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{messageAdmin.0.message}</p>
                    <footer class="blockquote-footer">
                        <f:format.date format="d.m.Y - H:i:s">{messageAdmin.0.crdate}</f:format.date>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</f:if>

<f:if condition="{messageUser}" >
    <div class="container-fluid">
        <div class="card">
            <div style="text-align: right;">
                <div class="card-header">
                    You - Last Message
                </div>
            </div>
            <div style="text-align: right;">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{messageUser.0.message}</p>
                        <footer class="blockquote-footer"><f:format.date format="d.m.Y - H:i:s">{messageUser.0.crdate}</f:format.date></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</f:if>

<f:form enctype="multipart/form-data" action="create" object="{newMessage}" id="regForm">
    <div class="form-group">
        <label for="message">Send Message</label>
        <f:form.textarea id="message" class="form-control" name="message" placeholder="Enter your message here" required="required"/>
    </div>
    <div style="text-align: right;">
        <f:form.submit  class="btn btn-primary" name="submit" value="Send">Send</f:form.submit>
    </div>
</f:form>